*{
    padding:0;
    margin:0;
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.2rem; 
}
a{
    color: #666;
    text-decoration: none;
}
p{
    padding: 1.4rem 0;
}
.clearflx:after{
    content:'';
    display: block;
    clear: both;
}
header .top {
    width: 100%;
    background: #555;
}
header .top-inner{
    width: 95%;
    margin: 0 auto;
    height: 3rem;
    line-height: 3rem;
}
header .top span{
    float: left;
    color: #fff;
    font-size: 1.2rem;
}
header .top ul{
    float: right;
}
header .top ul li{
    display: inline-block;
    padding: 0 1rem;
}
header .top ul li + li{
    border-left: 1px solid #fff;
}
header .top ul li a{
    text-decoration: none;
    color: #fff;
}

header .main {
    padding: 0;
}

header .main .logo {
    float: left;
    padding: 1rem 1.5rem 0;
    width: 15rem;
    height: 3.5rem;
}
header .main .logo img{
    width: 100%;
}

header .main ul {
    text-align: right;
}

header .main ul li {
    display: inline-block;
    border-left: 1px solid #f0ede9;
}

header .main ul li a {
    display: inline-block;
    padding: 0 2.5rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active,
header .main ul li a.active {
    color: #ffb300;
    background-color: #f8f6f1;
}

@media only screen and (min-width: 50em) {
    header .top ul li a {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 30.0625em) and (max-width: 50em) {

}

@media only screen and (max-width: 30em) {
    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4) {
        display: none;

    }
}
@media only screen and (max-width: 50em) {

    header .main .logo {
        float: none;
        display: block;
        padding: 0;
        margin: 1.5rem auto 0.5rem;
        text-align: center;
    }

    header .main ul {
        text-align: center;
    }

    header .main ul li {
        border: none;
    }

    header .main ul li a {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 30em) {

    header .main ul li {
        line-height: 3rem;
    }

    header .main ul li:first-child {
        display: none;
    }

    header .main ul li a {
        font-weight: normal;
        padding: 0 0.5rem;
    }
}


/*网站主要内容*/
.container{
    width: 100%;
}
.content {
    width: 100%;
    background-color: #7c7365;
}

.content .money{
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
}

.content .money div{
    float: left;
    padding: 1rem;
    text-align: left;
    line-height: 3rem;
    color: #fff;
}
.content .money div .money-data{
    display: inline-block;
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 1px #333 inset;
}
.content .money .search {
    float: right;
    text-align: right;
}

.content .search a {

    display: inline-block;
    color: #fff;
}
.search a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 50em) {

    .containe .content .money div {
        padding: 1rem 0.5rem;
        font-size: 1.2rem;
    }

    .content .money div .money-data{
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
        letter-spacing: inherit;
        box-shadow: none;
        background: transparent;
    }

    .money a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {

    .content {
        padding: 0.5rem 0;
    }

    .content .money div{
        float: none;
        text-align: center;
    }
    .content .money .search{
        float: none;
        text-align: center;
    }

    .containe .content .money div {
        padding: 0;
    }
}


/*广告内容*/
.ad{
    width: 100%;
}

/*特色区域*/
.tedian {
    width: 90%;
    margin: 2rem auto;
    font-size: 0;
}

.tedian .item {
    display: inline-block;
    width: calc(33.33333% - 3rem);
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.tedian .item + .item {
    margin-left: 1.5rem;
}

.tedian .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 3.3rem;
    text-align: center;
    color: #ff9900;
}

.tedian .item div {
    display: inline-block;
    width: 55%;
    color: #999;
}
.tedian .item div span{
    display: block;
}
@media only screen and (min-width: 30.0625em) and (max-width: 50em) {

    .tedian .item h3,
    .tedian .item div {
        display: block;
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }

    .tedian .item div {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 30em) {

    .tedian {
        width: 96%;
        margin: 1rem auto;
    }

    .tedian .item {
        display: block;
        width: auto;
    }

    .tedian .item + .item {
        margin: 1rem 0 0;
    }
}

/* 最新公告 */

.gonggao {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
}

.gonggao a {
    float: left;
    width: 70%;
    margin-left: 2rem;
    text-decoration: none;
}

.gonggao a:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gonggao a:first-child:before {
    content: '最新公告: \00a0\00a0';
    color: #aaa;
}

.gonggao a span {
    color: #999;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.gonggao a.more {
    float: right;
    width: auto;
    margin-right: 2rem;
    color: #ff9900;
}
@media only screen and (max-width: 30em) {

    .gonggao {
        width: 96%;
        margin: 1rem auto;
        font-size: 1.2rem;
    }

    .gonggao a {
        margin-left: 1rem;
    }

    .gonggao a span {
        display: none;
    }
}
/* 产品列表 */

.product {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}

.product .product-left{
    float: left;
    width: 20%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}



.product .product-left span {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child {
    margin-top: 4rem;
}

.product .product-right {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-right .item {
    width: 100%;
}

.product .product-right .item + .item {
    border-top: 1px solid #eee;
}

.product .product-right .item h3 {
    float: left;
    width: 30%;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-right .item h3 span {
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-right .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-right .item .info {
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-right .item .info p {
    float: left;
    text-align: center;
    width: 56%;
    margin: 1rem 0;
}

.product .product-right .item .info p:last-child {
    width: 40%;
}

.product .product-right .item .info p span {
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-right .item .info p span i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-right .item .buy {
    float: left;
    width: calc(22% - 4.4rem);
    padding: 1rem;
}

.product .product-right .item .buy div {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-right .item .buy a:hover,
.product .product-right .item .buy a:active {
    background-color: #ffc468;
}

.product .product-right .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}
@media only screen and (max-width: 50em) {

    .product .product-left {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product .product-left h3:first-child {
        margin-top: 0;
    }

    .product .product-left span {
        display: inline;
        font-size: 1.2rem;
    }

    .product .product-right {
        float: none;
        width: 100%;
    }

    .product .product-right .item h3 {
        margin-bottom: 0
    }

    .product .product-right .item span {
        font-size: 2.4rem;
    }

    .product .product-right .item .info {
        padding: 1rem 1rem 0;
        font-size: 1.2rem;
    }

    .product .product-right .item .info p span {
        font-size: 2rem;
    }

    .product .product-right .item .buy div {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 30em) {

    .product {
        width: 96%;
    }

    .product div h3:first-child:before {
        content: " ";
        display: table;
    }

    .product .product-right .item span {
        font-size: 2rem;
        margin-right: 0;
    }

    .product .product-right .item .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-right .item .info p span {
        font-size: 1.8rem;
    }

    .product .product-right .item .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-right .item .buy div {
        margin-top: 0;
        max-width: 26rem;
    }
}

/* 底部导航 */

.footer {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand {
    float: left;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 20%;
    height: 35px;
    background: url('../img/logo@1x.png') no-repeat left;
    background-size: 150px 35px;
}

.footer-content ul {
    float: left;
    width: 15%;
}

.footer-content ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-content ul li.title {
    font-size: 1.6rem;
    line-height: 3rem;
}


@media only screen and (max-width: 50em) {

    .footer-content .brand {
        display: none;
    }

    .footer-content ul {
        width: 20%;
    }

    .footer-content ul li {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .footer-content ul li.title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 30em) {
    .footer-content {
        width: 98%;
    }

    .footer-content ul li.title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/* 底部 */

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
}
